select{
    background-color: darkblue;
    width: 250px;
    height: 50px;
    padding: .5rem;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    border-radius: 10px;
}