.about-container{
    background-color: rgb(252, 253, 252);
    font-family: 'Press Start 2P', cursive;
    color: rgb(17, 17, 130);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
    .about__image{
        width: 350px;
    }
}