.filtersContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.cards-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}