.toast{
    position: absolute;
    z-index: 1;
    top: 3.5rem;
    left: 0;
    width: 100vw;
    text-align: center;
    line-height: 2.5rem;
    height: 2.5rem;
    color: white;
    &_error{
        background-color: red;
    }
    &_caught{
        background-color: green;
    }
    opacity: 0;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}